<!DOCTYPE html>
<html>
  <body bgcolor="orange">
    <font face="arial">
      <h1>
      ScratchBlox
      </h1>
      <form action="loggedin" method="post">
      <label for="text">Username</label>
      <input type="text" name="usernamelogin" value="" required>
      <br>
        <label for="text">Password</label>
    <input type="password" name="passwordlogin" value="" required><br>
    
  
    <input type="submit" value="Log In">
    
    
</form>

      <p>
        Need to make an account?  <a href="https://scratchblox.xmysticalcoder.repl.co/signup">Sign up</a>!
      </p>
      
      
    </font>
    </font>
    
  </body>
</html>