<!DOCTYPE html>
<html>
  <body bgcolor="orange">
    <font face="arial">
      <h1>
      ScratchBlox
      </h1>

      <form action="signedup" method="post">
      <label for="text">Username</label>
      <input type="text" name="username" value="" required>
      <br>
        <label for="text">Password</label>
    <input type="password" name="password" value="" required><br>
    
  
    <input type="submit" value="Sign Up">
    
    
</form>

      <p>
        Already have an account? <a href="https://scratchblox.xmysticalcoder.repl.co/login">Login</a>!
      </p>
      
      
    </font>
    
  </body>
</html>